@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --green: #2d6a2d;
    --green-light: #b8e287;
    --color1: #2a2857;
    --color1-light:#DAAEEA;
    --gold: #c9a227;
    --gold-light: #FFD884;
    --orange-light: #FFCB96;
    --orange-dark: #FF7F31;
    --cream: #fdf8f0;
    --brown: #5c3d1e;
    --teal-light: #B0E8C1;
    --pink: #e8b4a0;
    --color-black: #201c1a;
    --bg-creme: #fbf9eb;
    --blue-light: #C1E4F8;
}

body { 
    font-family: 'Roboto', sans-serif;
    background: var(--bg-creme); 
    color: #222; 
    position: relative;
}

@font-face {
    font-family: RecklessCondensed;
    src: url(assets/fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
    font-family: midnight;
    src: url(assets/fonts/midnight-sans-rd-12-medium-trial.otf);
}
@font-face {
    font-family: figtree;
    src: url(assets/fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}
  
.font1 { font-family: "RecklessCondensed", sans-serif; }
.font2 { font-family: "midnight", sans-serif; }
.font3 { font-family: "figtree", sans-serif; }


.hero-bg {
  background: linear-gradient(135deg, #e8f4f8 0%, #d4eee8 40%, #c8e6e0 70%, #b8ddd6 100%);
}

.btn-white{

}

.btn {
    display: inline-block;
    padding: 0.75rem 2.5rem;
    border-radius: 9999px;
    border: 1px solid #000;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* Blue Button */
.btn-blue {
    background-color: rgb(49 46 129); /* indigo-950 */
    color: #fff;
}

.btn-blue:hover {
    background-color: #fff;
    color: rgb(49 46 129);
}

/* White Button */
.btn-white {
    background-color: #fff;
    color: rgb(49 46 129);
}

.btn-white:hover {
    background-color: rgb(49 46 129);
    color: #fff;
}
 
.badge-title{
    padding: 3px 10px;
    /* background: var(--color1-light); */
    font-family: "midnight", sans-serif; 
    font-size: clamp(2rem, 2.5rem + 1vw, 3.5rem);
    font-weight: 600;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: .375rem;
    border: 1px solid var(--color-black);
    transform: rotate(-2deg);
    display: inline-block;
}


  .discover-tag { 
    font-family: "RecklessCondensed", sans-serif; 
    font-size: 1.7rem;
    letter-spacing: -.005em;
    background-color: #daeaff;
    padding: .275rem 1.25rem;
    border: .0625rem solid var(--color-black);
    border-radius: 12px;
    transition: all .3s cubic-bezier(.5,0,0,1);
  }
  
  

  /* ORIGINS SECTION */
  .origins-bg {
    background: url('assets/images/origin.webp') center/cover no-repeat;
    position:relative;
  }

